@using OilContRM.Models
@{ 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}    
<h2>Stats</h2>

            <!-- Page-Title -->
            
            <!-- end page title end breadcrumb -->


           <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="widget-panel widget-style-2 bg-white">
                        <i class="md md-attach-money text-primary"></i>
                        <h2 class="m-0 text-dark counter font-600">@ViewBag.Processes</h2>
                        <div class="text-muted m-t-5">Processes</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="widget-panel widget-style-2 bg-white">
                        <i class="md md-add-shopping-cart text-pink"></i>
                        <h2 class="m-0 text-dark counter font-600">0</h2>
                        <div class="text-muted m-t-5">Sales</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="widget-panel widget-style-2 bg-white">
                        <i class="md md-store-mall-directory text-info"></i>
                        <h2 class="m-0 text-dark counter font-600">1</h2>
                        <div class="text-muted m-t-5">Stores</div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <div class="widget-panel widget-style-2 bg-white">
                        <i class="md md-account-child text-custom"></i>
                        <h2 class="m-0 text-dark counter font-600">@ViewBag.Count</h2>
                        <div class="text-muted m-t-5">Users</div>
                    </div>
                </div>
            </div>
     
            
    <!-- End Footer -->
    <!-- jQuery  -->
    

    <!-- jQuery  -->
    


    <script src="~/plugins/morris/morris.min.js"></script>
    <script src="~/plugins/raphael/raphael-min.js"></script>

    

    <!-- Todojs  -->
    <script src="~/assets/pages/jquery.todo.js"></script>

    <!-- chatjs  -->
    <script src="~/assets/pages/jquery.chat.js"></script>

    <script src="~/plugins/peity/jquery.peity.min.js"></script>

    
    <script src="~/assets/js/jquery.app.js"></script>

    <script src="~/assets/pages/jquery.dashboard_2.js"></script>

