.paging-nav {
    /*text-align: right;*/
    padding-top: 2px;
}



    .paging-nav a {
        margin: auto 1px;
        text-decoration: none;
        display: inline-block;
        padding: 1px 7px;
        background: #5b6167;
        color: white;
        border-radius: 3px;
        font-size: 15px;
    }



    .paging-nav .selected-page {
        background: #187ed5;
        font-weight: bold;
    }



.paging-nav {
    width: 400px;
    /*margin: 0 auto;*/
    font-family: Arial, sans-serif;
}
