<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Ubold - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />

    <script src="assets/js/modernizr.min.js"></script>

</head>


<body>


    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container-fluid">

                <!-- Logo container-->
                <div class="logo">
                    <a href="/Musteri/Index" class="logo">
                        <img src="~/Content/images/_LOGO.jpg" alt="" height="50" width="85" class="logo-lg">

                    </a>
                </div>
                <!-- End Logo container-->
                <!-- end menu-extras -->
                <form class="float-right" action="/UploadImg/ImageUpload" method="post" enctype="multipart/form-data">
                    <input type="file" placeholder="asdf" value="ChangePP" onchange="this.form.submit()" name="uploadfile" />
                </form>

                <div class="clearfix"></div>

            </div> <!-- end container -->
        </div>
        <!-- end topbar-main -->

        <div class="navbar-custom">
            <div class="container-fluid">
                <div id="navigation">
                    <!-- Navigation Menu-->
                    <ul class="navigation-menu">


                        <li class="has-submenu">
                            <a href="/Musteri/Index"><i class="md md-dashboard"></i>Stats</a>


                        </li>

                        <li class="has-submenu">
                            <a href="/Musteri/CusList"><i class="md md-color-lens"></i>Users</a>

                        </li>

                        <li class="has-submenu">
                            <a href="/Process/ShowProcess"><i class="md md-color-lens"></i>Process Records</a>

                        </li>












                    </ul>
                    <!-- End navigation menu -->
                </div> <!-- end #navigation -->
            </div> <!-- end container -->
        </div> <!-- end navbar-custom -->
    </header>
    <!-- End Navigation Bar-->
   
    


    <div class="wrapper">
        <!-- end container -->@RenderBody()
    </div>
    
    <!-- end wrapper -->
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    © 2016 - 2018 UBold - Coderthemes.com
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script><!-- Popper for Bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

    <!-- Chart JS -->
    <script src="~/plugins/chart.js/Chart.bundle.min.js"></script>
    <script src="~/assets/pages/jquery.chartjs.init.js"></script>

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>

</body>
</html>