@using OilContRM.Models;
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<OilContRM.Models.GetRecords>


@{
    ViewBag.Title = "ShowProcess";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    .elements {
        display: inline-block;
    }

    .center {
        text-align: center;
    }

    .pagination {
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            margin: 0 4px;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border: 1px solid #4CAF50;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>


<p style="font-size:2em; font-weight:bolder">@Resources.Content.ShowProcesses</p><form class="form form-control form-inline" action="/Process/ShowProcess" method="get"><i class="fa fa-search" aria-hidden="true"></i><input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" name="search"></form>





<div class="container" id="container">

</div>


<div id="onload">
    @Html.Partial("ProcessPartial", Model)
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="word-wrap:break-word">
                <div class="modal-body" id="contentModal">
                    ...
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">


            <div class="modal-body " id="formcontentModal">


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>





@Html.PagedListPager(Model, page => Url.Action("ShowProcess",
       new { page }), new PagedListRenderOptions()
       {

       })

<button class="btn btn-primary" type="button" onclick="OpenFORM()">@Resources.Content.AddProcess</button>


<script>
    function GetID(ID) {
        $.ajax({
            url: "/Process/Explain?id=" + ID,
            type: "get",
            data: "",
            success: function (result) {
                $('#contentModal').html(result);
                $('#myModal').modal('show');
            }

        });

    }
    function OpenFORM() {
        $.ajax({
            url: "/Process/AddProcessFromModal",
            success: function (returndata) {

                $('#formcontentModal').html(returndata);
                $('#formModal').modal('show');
            },
            dataType: "html"

        });
    }




</script>
